<?xml version="1.0" encoding="UTF-8"?>
<web-app  xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"      
      version="2.5">
<display-name>Lab_21</display-name>

<servlet>
		 <servlet-name>Sss_Header</servlet-name>
		 <servlet-class>Sss_Header</servlet-class>
 </servlet>
 
 <servlet>
		 <servlet-name>Sss_Header_sync</servlet-name>
		 <servlet-class>Sss_Header_sync</servlet-class>
 </servlet>
 
 <servlet>
		 <servlet-name>Sss_XML</servlet-name>
		 <servlet-class>Sss_XML</servlet-class>
 </servlet>
 
 <servlet>
		 <servlet-name>Sss_JSON</servlet-name>
		 <servlet-class>Sss_JSON</servlet-class>
 </servlet>
 
 <servlet>
		 <servlet-name>Sss_XML_sync</servlet-name>
		 <servlet-class>Sss_XML_sync</servlet-class>
 </servlet>
 
 <servlet>
		 <servlet-name>Sss_JSON_sync</servlet-name>
		 <servlet-class>Sss_JSON_sync</servlet-class>
 </servlet>
 
 <servlet-mapping>
		 <servlet-name>Sss_XML_sync</servlet-name>
		 <url-pattern>/Sss_XML_sync</url-pattern>
 </servlet-mapping>
 
  <servlet-mapping>
		 <servlet-name>Sss_XML</servlet-name>
		 <url-pattern>/Sss_XML</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
		 <servlet-name>Sss_JSON</servlet-name>
		 <url-pattern>/Sss_JSON</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
		 <servlet-name>Sss_JSON_sync</servlet-name>
		 <url-pattern>/Sss_JSON_sync</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
		 <servlet-name>Sss_Header_sync</servlet-name>
		 <url-pattern>/Sss_Header_sync</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
		 <servlet-name>Sss_Header</servlet-name>
		 <url-pattern>/Sss_Header</url-pattern>
 </servlet-mapping>

<welcome-file-list>
	<welcome-file>index.html</welcome-file>
</welcome-file-list>

</web-app>