<?xml version="1.0" encoding="UTF-8"?>
<web-app  xmlns="http://java.sun.com/xml/ns/javaee"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
          version="2.5">
    <display-name>LR22</display-name>


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Sss</servlet-name>
        <servlet-class>servlet.Sss</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Sss</servlet-name>
        <url-pattern>/Sss</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>JSP-Servlet servlet.Sss</web-resource-name>
            <url-pattern>/servlet.Sss</url-pattern>
            <url-pattern>/index.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Role21</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>Role21</role-name>
    </security-role>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/errlogin.jsp</form-error-page>
        </form-login-config>
    </login-config>

</web-app>